# API
fastapi==0.108.0
transformers
librosa
uvicorn
torch
os

# Fine-tune
jupyter
evaluate
git+https://github.com/huggingface/transformers.git
jiwer
accelerate

#model and interface
streamlit
torch
transformers
